* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}
/* basics  */

body {
  display: flex;
  align-items: center;
  justify-content: bottom;
  flex-wrap: wrap;
  flex-direction: column;
  background: linear-gradient(#2fbb52c9, #b440ae67, #2fbb52c9);

  width: 100vh;
  height: 100vh;
}
.maincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vh;
  height: auto;
  background-color: rgba(110, 94, 94, 0.185);
}
#ouruserprojectdata {
  background-color: rgba(0, 0, 0, 0.082);
  width: 70vh;
  height: auto;
  border-bottom: 1px black solid;
  box-shadow: inset 0px 0px -1px 1px rgb(0, 0, 0);
}
.bigresult {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  background-color: #045d1a36;
  box-shadow: -1px -0.3rem 0.3rem 0.3px #045d1a36;
  border: 2px outset #3b0a31;

  li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.forthenotbook {
  background-color: transparent;
  border: none;
  border-radius: 7%;
}

//classes from js
.veryimportant {
  background-color: rgba(180, 163, 163, 0.383);
  color: black;
  width: 6rem;
  height: 2rem;
  text-align: center;
  font-style: bold;
  font-size: 1.2rem;
  margin: 1rem;
}
.veryImportantTriggeredlist {
  font-style: bold;
  color: rgb(0, 0, 0);
  //background-color: rgba(134, 12, 12, 0.561);
  box-shadow: inset 0px 0px 3px 1px red;
  font-size: 2.2rem;
}
.veryImportantTriggereButton {
  font-style: bold;

  border: 5px, solid, red;
  background-color: red;
}
.completed {
  /* some fancy styles */
  text-decoration: line-through;
}
.completedopacity {
  opacity: 50%;
}
.done {
  color: red;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vw;
  height: auto;

  margin: 1rem;
}

div {
  button:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.555);

    border-radius: 100%;
  }
  button:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.555);

    border-radius: 100%;
  }
}
button {
  border: none;
  font-family: Tahoma, Geneva, Verdana, sans-serif, cursive;
  font-size: 0.7rem;
  color: white;
}
input:placeholder-shown {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.342);
  width: 17rem;
  height: 7rem;
  margin: 0.5rem;
}
input {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: rgba(0, 0, 0, 0.096);

  margin: 0.5rem;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  width: 50vw;
  height: 25vh;
  max-width: 50vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
  div {
    position: absolute;

    right: 0;
    top: 0rem;
    button {
      width: 4rem;
      height: 3rem;
      margin: 0.3rem;
    }
  }
}
